body { 
	box-sizing: border-box;
	overflow-x:hidden;
	margin-top:8px;
}

.container { 
	max-width: 900px;
	margin:auto;
}

.logo { 
	width: 20%;
	height: 20%;
}

header nav { 
	float:right;
}

header nav ul {
	margin:12px;
}

header nav ul li { 
	display: inline-block;
	margin: 0px 10px;
}

header nav ul li a {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 17px;
	color:#AFAFAF;
	letter-spacing: 1.5px;

	transition-duration: 0.5s;
}

header nav ul li a:hover { 
	color:#233141;
	transition-duration: 0.5s;
}

main {
	height:740px;
}

.contactoBanner {
	background:url('img/indexbanner-bg2.jpg');
	background-size: cover;
	padding: 170px 0 150px;
	margin-top:10px;
	width:100%;
	height:auto;
	position:relative;
}

.bannerText {
	width:40%;
	position:absolute;
	top:26%;
	left:29%;
	text-align:center;
	color:white;
}

.bannerText h2 {
	font-size:35px;
	font-family: 'Raleway', sans-serif;
	font-weight:900;
	letter-spacing:1px;
	margin-bottom:20px;
}

.bannerText p {
	font-size:10px;
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
}

.s1header {
	text-align:center;
	position:relative;
	top:50px;
}

.s1header h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 27px;
	font-weight:900;
	color:#233141;
	margin: auto;
}

.s1header p {
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	color:#233141;
	margin: 20px auto;
}

.formulario {
	position:relative;
	top:80px;
	width:75%;
	margin:auto;
}

.col1 {
	width:47%;
	margin:4px;
	padding:5px;
	transition-duration:0.1s;
	border:1px solid #29333F;
	
}

.col1:hover {
	transition-duration:0.1s;
	border-top:1px solid white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-left:3px solid #00AFF1;
}

.col1:focus {
	transition-duration:0.1s;
	border-top:1px solid white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-left:3px solid #00AFF1;
}

.col2 {
	width:48%;
	float:right;
	margin:4px;
	padding-bottom:82px;
	transition-duration:0.1s;
	border:1px solid #29333F;
}

.col2:hover {
	transition-duration:0.1s;
	border-top:1px solid white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-left:2px solid #00AFF1;
}

.col2:focus {
	transition-duration:0.1s;
	border-top:1px solid white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-left:2px solid #00AFF1;
	border-right:2px solid #00AFF1;
}

.submit {
	background-color: #00AFF1;
	border:none;
	width:15%;
	text-align: center;
	position:relative;
	left:43%;
	top:10px;
	padding: 5px;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
	font-variant: small-caps;
	color: white;
	letter-spacing: 2px;
	font-weight: 900;
}

.submit:active {
	outline:0;
	background-color: #78B2FB;
}


.footerHeader {
	background-color: #233141;
	box-shadow: 0px -5px 5px lightgrey;
}

.footerHeader h2 {
	padding:80px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color:white;
	font-size: 22px;

	margin:0;
}

.footerHeader span {
	font-family: Arial, sans-serif;
	font-weight: 900;
	color:#00AFF1;
	font-size: 23px;
}

.footerMain {
	background-color:#151D26; 
	margin:0px;
}

.footerMain .container p {
	font-size:10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color:white;
	padding:15px;

	display: inline-block;
}

.footerMain ul {
	list-style-type: none;
	float: right;
	margin:0px;
}

.footerMain ul li {
	display: inline-block;

	font-size:10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color:white;
	padding:15px 10px;
}

.footerMain ul li a {
	text-decoration: none;
	color:white;
}











@media only screen and (max-width:768px) {
	.container {
		max-width:95%;
		margin:auto;
	}
	.logo {
		width:161px;
		height:26px;
	}
	.bannerText {
		width:50%;
		left:26%;
	}
	main {
		height:800px;
	}
	.col1 {
		width:45%;
	}
	.submit {
		left:42%;
	}
}










@media only screen and (max-width:360px) {
	.container {
		max-width:95%;
		margin:auto;
	}

	.logo {
		margin:0% 24.5% 0% 24.5%;
	}

	header nav {
		position:relative;
		left:-55px;
	}

	.contactoBanner {
		position:relative;
		top:30px;
		padding: 120px 0 0px;
	}
	.bannerText {
		position:absolute;
		top:26%;
		left:25%;
	}
	.bannerText h2 {
		font-size:30px;
	}
	.bannerText p {
		display:none;
	}
	main {
		height:525px;	
	}
	.s1header {
		top:70px;
		width:60%;
		left:20%;
	}
	.col1 {
		width:43.5%;
	}
	.col2 {
		width:43.5%;	
		padding-bottom:79px;
	}
	.submit {
		width:100%;
		left:0px;

	}

}