body { 
	box-sizing: border-box;
	overflow-x:hidden;
	margin-top:8px;
}

.container { 
	max-width: 900px;
	margin:auto;

}

.logo { 
	width: 20%;
	height: 20%;
}

header nav { 
	float:right;
	margin-top:14px;
}

header nav ul li { 
	display: inline-block;
	margin:0px 10px 0px 10px;
}

header nav ul li a {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 17px;
	color:#AFAFAF;
	letter-spacing: 1.5px;

	transition-duration: 0.5s;
}

header nav ul li a:hover { 
	color:#233141;
	transition-duration: 0.5s;
}

.indexBanner { 
	width: 100%;
	height:auto;
	z-index:-1;
	position:relative;
	margin: 5px 0px;
}

.text {
	color:white;

	position: absolute;
	top:34%;
	left:17%;
}

.text h1 { /*Estilos específicos del h1 dentro del banner*/
	font-size:30px;
	font-family: 'Raleway', sans-serif;
	font-weight:900;
	letter-spacing:1px;

	margin-bottom:20px;
}

.text p { /*Estilos específicos del p dentro del banner*/
	font-size:10px;
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
}

.searchBar { /*Estilos de la barra de búsqueda*/
	width:63% ;

	border:none;
	font-size: 20px;
	font-variant: small-caps;
	font-family: 'Open Sans', sans-serif;
	color:#0C92F5;
	padding:15px;

	position:relative;
	top:-35px;
	left:66px;

	transition-duration: 1s;
}

.searchBar:focus { /*Efecto de la barra de búsqueda*/
	color:white;
	background-color: #0C92F5;
	border-right: 1px solid white;
	transition-duration: 1s;
}

.searchButton { /*Estilos Boton de Búsqueda*/
	padding: 20px;
	background-color: #0C92F5;
	border:none;
	position:relative;
	top:-37.5px;
	left:62px;
	text-decoration: none;


}

.searchButton:active { /*Efecto del botón de búsqueda*/
	background-color: #78B2FB;
}

.searchButton span { /*Estilos de los elementos dentro del botón de búsqueda*/
	color:white;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	letter-spacing: 2px;
	font-variant: small-caps;
	text-align: center;
}

main {
	height:1480px;
}
/*Section 1*/
.servicios {
	height: 200px;
	width: 800px;
	display: flex;
	flex-direction: row;
	margin: 10px auto auto auto;
}

.xu {
	margin: 0px; 

	height: 200px;
	width: 200px;

	display: flex;
	flex-direction: column;
	

}

.xu img {
	margin: auto;

	transform:scale(1,1);
	transition-duration: 0.5s;
}

.xu img:hover {
	cursor: pointer;

	transform:scale(1.2,1.2);
	transition-duration: 0.5s;
}

.xu h3 {
	margin:auto;

	font-family: 'Raleway', sans-serif;
 	font-variant: small-caps;
 	font-size: 15px;
 	font-weight:900;
 	color:#233141;
 	letter-spacing: 2px;
}

.xu p {
	margin:0px 10px;

	font-family: 'Open Sans', sans-serif;
	color:#233141;
 	text-align:center;
 	font-size: 11px;
 	line-height: 25px;
}

.widdot1 {
	transform: rotate(90deg);
	margin-top: 27px;
}

.threedot {
	margin: 0 47.8%;
}


.s2header {
	display: flex;
	flex-direction: column;
	margin-top:15px;
	position:relative;
	left:9px;

}

.s2header h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight:900;
	color:#233141;
	margin: auto;
}

.s2header p {
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#233141;
	margin: 20px auto;
}

.s2main {
	display: flex;
	flex-direction: row;
	position:relative;
	left:50px;
	margin-top: 20px;
}

.col1 {
	width: 280px;

	margin-right: 20px;

	display: flex;
	flex-direction:column;
	align-items: flex-end;
}

.pros1 {
	width: 280px;
	height: 100px;

	margin-top:20px;

	transform: translateX(0px);
	transition-duration: 0.5s;
}
.pros1:hover {
	transform: translateX(-20px);
	transition-duration: 0.5s;
}

.pros1 img {
	float: right;
}

.pros1Text {
	width: 230px;
	height: 92px;

	position: relative;
	right:5px;
}

.pros1Text h3 {
	font-family: 'Raleway', sans-serif;
	font-weight:900;
 	font-variant: small-caps;
 	font-size: 15px;
 	color:#233141;
 	letter-spacing: 2px;
 	text-align: right;
 	margin:17px 0px;

}

.pros1Text p {
	font-family: 'Open Sans', sans-serif;
	color:#233141;
 	text-align:right;
 	font-size: 11px;
 	line-height: 20px;

}

#iphone {
	z-index:3;
}
.logo2 {
	display:none;
}
.col2 {
	width: 280px;

	margin-left: 20px;

	display: flex;
	flex-direction:column;
	align-items: flex-start;
}

.pros2 {
	width: 282px;
	height: 100px;
	margin-top:20px;

	transform: translateX(0px);
	transition-duration: 0.5s;
}
.pros2:hover {
	transform: translateX(20px);
	transition-duration: 0.5s;
}

.pros2 img {
	float: left;
}

.pros2Text {
	width: 230px;
	height: 92px;
	float: right;

	position: relative;
	left:5px;
}

.pros2Text h3 {
	font-family: 'Raleway', sans-serif;
	font-weight:900;
 	font-variant: small-caps;
 	font-size: 15px;
 	color:#233141;
 	letter-spacing: 2px;
 	text-align: left;
 	margin:17px 0px;
}

.pros2Text p {
	font-family: 'Open Sans', sans-serif;
	color:#233141;
 	text-align:left;
 	font-size: 11px;
 	line-height: 20px;
}

.pricingBanner {
	background: url("img/pricing-bg.jpg") center;
	width:100%;
	height: 128.7px;
	background-size: cover;
	padding: 170px 0 150px;

	position:relative;
	top:-50px;
	
	
}

.s3header {
	position:relative;
	top:-80px;

}
.s3header h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight:900;
	color:#233141;
	text-align: center;

	margin-top:12px;
	margin-bottom:20px;
}

.s3header p {
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#233141;
	text-align: center;
}

.s3main {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position:relative;
	top:-18px;

}

.prices {
	width:24%;
	background-color: white;
	box-shadow: 5px 5px 5px lightgrey;
	z-index: 1;
}

.prices h3 {
	font-family: 'Raleway', sans-serif;
 	font-variant: small-caps;
 	font-size: 15px;
 	font-weight:900;
 	color:#233141;
 	letter-spacing: 2px;
 	margin-top:45px;
 	text-align: center;
 	padding: 9%;
}


.price { /*Estilos al 15*/
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	color:#233141;
	font-weight: 700;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
}

.price sup { /*Estilos al $ y .99*/
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 600;
}

.mount  { /*Estilos al /mount*/
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin:0px;
	text-align: center;
	margin-bottom: 30px;
}

.prices ul {
	list-style-type: none;
	border-top:1px solid lightgrey;
	margin:0px;
	padding: 15px 15px 15px 35px;
}

.prices ul li pre {
	font-family: 'Open Sans', sans-serif;
	color:#233141;
	margin:auto;
	font-size: 12.5px;
	line-height: 30px;
}

.boton {
	background-color: #00AFF1;
	border:none;
	width:85%;
	text-align: center;
	margin: 8%;
	padding: 10px;
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
	font-variant: small-caps;
	color: white;
	letter-spacing: 2px;
	font-weight: 900;
	margin-bottom: 35px;
} 

.boton:active {
	background-color: #78B2FB;
}

.smallP {
	color:#00AFF1;
	font-weight: 900;
	font-size: 13px;
}

.normalP {
	color:#F9D423;
	font-weight: 900;
	font-size: 13px;
}

.bigP {
	color:#FF9359;
	font-weight: 900;
	font-size: 13px;
}

.bestP {
	color:#F75F40;
	font-weight: 900;
	font-size: 13px;
}

.footerHeader {
	background-color: #233141;
	box-shadow: 0px -5px 5px lightgrey;
}

.footerHeader h2 {
	padding:80px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color:white;
	font-size: 22px;

	margin:0;
}

.footerHeader span {
	font-family: Arial, sans-serif;
	font-weight: 900;
	color:#00AFF1;
	font-size: 23px;
}

.footerMain {
	background-color:#151D26; 
	margin:0px;
}

.footerMain .container p {
	font-size:10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color:white;
	padding:15px;

	display: inline-block;
}

.footerMain ul {
	list-style-type: none;
	float: right;
	margin:0px;
}

.footerMain ul li {
	display: inline-block;

	font-size:10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color:white;
	padding:15px 10px;
}

.footerMain ul li a {
	text-decoration: none;
	color:white;
}


































































@media only screen and (max-width:768px) {
	.container {
		max-width:95%;
		margin:auto;
	}
	.logo {
		width:161px;
		height:26px;
	}
	header nav {
		float:none;
		position:relative;
		left:36%;
		margin-top:10px;
	}
	.text {
		top:34%;
		left:2%;
	}
	.searchBar {
		width:70%;
		top:-35px;
		left:30px;
	}
	.searchButton {
		width:17%;
		top:-37.5px;
		left:24px;
	}
	main {
		height:2178px;
	}

	.servicios {
		width: 100%;
		height:auto;
		flex-wrap:wrap;
		margin: 10px auto auto auto;
	}

	.xu {
		width: 49%;
		margin:20px 0px 20px 0px;
	}

	.xu h3 {
		margin-top:20px;
		margin-bottom:10px;
	}

	.xu p {
		margin:0px 10px;

		font-family: 'Open Sans', sans-serif;
		color:#233141;
	 	text-align:center;
	 	font-size: 11px;
	 	line-height: 25px;
	}

	.widdot1 {
		display:inline-block;
	}

	.threedot {
		margin: 0 46.8%;
	}

	.none {
		visibility:hidden;
	}

	.s2header {
		left:0px;
	}

	.s2main {
		left:13px;
		width:95%;
	}

	.col1 {
		width: 36.5%;
		margin-right: 10px;
	}

	.pros1 {
		width: 100%;
		height: 85px;
	}

	.pros1Text {
		width: 194px;
		height: auto;
	}

	.pros1Text h3 {
	 	margin:17px 0px 10px 0px;
	}

	#iphone {
		width:180px;
		height:374.4px;
	}

	.col2 {
		width: 36.5%;
		margin-left: 10px;
	}

	.pros2 {
		width: 100%;
		height: 85px;
	}
	.pros2:hover {
		transform: translateX(20px);
		transition-duration: 0.5s;
	}

	.pros2Text {
		width: 79%;
		height: auto;
		left:8px;
	}

	.pros2Text h3 {
	 	margin:17px 0px 10px 0px;
	}

	.s3main {
		flex-direction: row;
		flex-wrap:wrap;
		justify-content: space-between;
	}
	.prices {
		width:49%;
		margin-bottom:20px;
	}
	.prices ul {
		list-style-type: none;
		border-top:1px solid lightgrey;
		margin:0px;
		padding: 15px 109px 15px 116px;
	}


}


































@media only screen and (max-width:360px) {
	.container {
		max-width:95%;
		margin:auto;
	}
	.logo {
		margin:0% 24.5% 0% 24.5%;
	}
	header nav {
		position:static;
		text-align:center;
	}
	.text {
		display:none;
	}
	.searchBar {
		width:50%;
		top:-21.5px;
		left:17px;
	
	}
	.searchButton {
		width:34%;
		top:-23.5px;
		left:13px;
		padding:20.4px;
		font-size:12.4px;
		padding-bottom:19px;
		padding-top:22px;
	}
	main {
		height:2750px;
	}

	.xu img {
		margin: auto;

		transform:rotateX(0deg);
		transition-duration: 0.5s;
	}

	.xu img:active {

		transform:rotateX(360deg);
		transition-duration: 0.5s;
	}
	.xu p {
		line-height:20px;
		margin:0px 5px;
	}
	.xu h3 {
		margin-bottom:10px;
	}
	.widdot1 {
		width:3.2px;
	}
	.threedot {
		margin: 0 42.9%;
	}

	.s2header p {
		text-align:center;
	}

	.s2main {
		flex-direction:column;
		margin-top:0px;
	}

	.col1 {
		width:80%;
		margin:0px;
		margin-left: 10px;
		margin-bottom:10px;
	}
	.pros1:hover {
		transform:translateX(20px);
		transition-duration:0.5s;
	}
	.pros1 img {
		float:left;
	}

	.pros1Text {
		width:75%;
		height:auto;
		float:right;
	}

	.pros1Text h3 {
		text-align:left;
	}

	.pros1Text p {
		text-align:left;
		width:103%;
	}

	.col2 {
		width:80%;
		margin-bottom:10px;
	}

	.s3header {
		position:relative;
		top:-60px;
	}
	.pricingBanner {
		padding:0;
		padding-top:100px;
		top:0px;
	}

	.prices ul {
		padding: 15px 18px 15px 18px;
	}

	.footerHeader h2 {
		padding:40px;
	}

	.footerMain {
		background-color:#151D26; 
		margin:0px;
		text-align:center;
	}

	.footerMain ul {
		float:none;
	}

	.footerMain ul li {
		padding:10px 10px;
	}

	.footerMain ul li a {
		text-decoration: none;
		color:white;
	}
}
