/*------------------------------------------------------------------Header--------------------------------------------------------------*/
#logo {
	margin-left: 150px;
}

header nav a {
	font-family: 'Raleway', sans-serif;
	color:#AFAFAF;
	text-decoration: none;
	letter-spacing: 1.5px;

	transition-duration: 0.5s;

	margin: 5px;

	position: relative;
	top:-40px;
	left:75%;
}

header nav a:hover {
	color:#233141;
	transition-duration: 0.5s;
}

#fotoHeader {
	width: 100%;

	position: relative;
	top:-20px;
}
.imgText {
	color:white;
	text-align: left;
	font-family: 'Open Sans', sans-serif;

	position: relative;
	top:-330px;
	left: 15%;
	font-size: 15px;
}

.imgText h1 {
	font-family: 'Raleway', sans-serif;
}
#searchBar {
	height: 76px;
	width:50%;

	font-family: 'Raleway', sans-serif;
	font-size:20px;
	color: #0A97ED;
	font-variant: small-caps;
	text-align: center;
	border:none;

	position: relative;
	top:-195px;
	margin-left: 22%;
	
}

#searchBar:focus {
	border: 1px solid #0A97ED;
}


#searchButton {
	padding: 30px;
	width: 60px;
	height: 69px;

	background-color:#0A97ED;
	text-decoration: none;
	color:white;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 2px;
	font-variant: small-caps;
	border-radius: 2px;

	position: relative;
	top:-195px;
	left:-4px;
}

#searchButton:active {
	background-color:#47A3F7;
}
/*------------------------------------------------------------------Main----------------------------------------------------------------*/
																/*Section #1*/
section span img {
	position: relative;
	left:47% ;
}

 section h3 {
 	font-family: 'Raleway', sans-serif;
 	font-variant: small-caps;
 	color:black;
 	letter-spacing: 2px;

 	text-align: center;
 }

 section p {
 	font-family: 'Open Sans', sans-serif;
 	text-align:center;
 	font-size: 15px;
 }


 .ServiceImg {
 	transform: scale(1,1);
 	transition-duration: 0.2s;
 	transition-timing-function: ease-in-out;

 	position: relative;
 	left:35%;
 }

 .ServiceImg:hover {
 	transform: scale(1.2,1.2);
 	transition-duration: 0.3s;
 	transition-timing-function: ease-in-out;

 	cursor: pointer;
 }

  #SS {
 	position: relative;
 	top:-150px;
 	left:41.75px;
 	height: 200px;
 	width:250px;
 }

 #HS {
 	position: relative;
 	top:-350px;
 	left:353.5px;
 	height: 200px;
 	width:250px;;
 }

 #LS {
 	position: relative;
 	top:-550px;
 	left:665.25px;
 	height: 200px;
 	width:250px;
 }

 #GDN {
 	position: relative;
 	top:-750px;
 	left:977px;
 	height: 200px;
 	width:250px;
 }

.threedot {
	position:relative;
	left:48%;
	top:-725px;
}

section .img{
	transform: scale(1,1);
	transition-duration: 0.3s
}
section .img:hover {
	transform: scale(1.2,1.2);
	transition-duration: 0.3s
}
																/*Section #2*/

.headerSec2 {
	text-align: center;
	line-height: -10px;

	position: relative;
	top:-725px;
}
.headerSec2 h1 {
	font-size: 30px;
	font-family: 'Raleway', sans-serif; 
}
.headerSec2 p{
	font-family: 'Open Sans', sans-serif;
}

#IPhone {
	position: relative;
	top:-650px;
	left:38%;

}