body {
	overflow-x:hidden;

	box-sizing: border-box;
	min-width: 360px;
	margin-top:8px;
}
.container {
	max-width:90%;
	margin:auto;
}
header nav {
	float:right;
}
header nav ul li {
	display: inline-block;

	margin: 6% 6px;
}
header nav ul li a {
	transition-duration: 0.5s;

	text-decoration: none;
	letter-spacing: 1.5px;

	color:#AFAFAF;

	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	font-weight: 900;
}
header nav ul li a:hover {
	transition-duration: 0.5s;

	color:#233141;
}

.index_Banner {
	z-index:-1;

	width: 100%;
	height:auto;
}

.search_Container {
	width:80%;
	margin:auto;
	margin-top:-2.5%;

}

.search_Bar {
	width:76.2%;
	padding:12.5px;

	color:#0C92F5;
	border:none;

	font-family: 'Open Sans', sans-serif;
	font-size: 1.33em;
	font-variant: small-caps;
}

.search_Bar:focus {
	transition-duration: 1s;
 /*Efecto de la barra de búsqueda*/

	color:white;
	border-right: 1px solid white;
	background-color: #0C92F5;
}


.search_Button {
	position:absolute;

	float:right;

	width:15%;
	min-width: 110px;
	padding:18.5px;

	text-align: center;
	text-decoration: none;
	letter-spacing: 2px;

	color:white;
	border:none;
	background-color: #0C92F5;

	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-variant: small-caps;
}

.search_Button span{
		font-size:100%;
}

.search_Button::-moz-focus-inner {
  border: 0;
}

.search_Button:active {
	background-color: #78B2FB;
}

.servicios {
	display: flex;
	flex-direction: row;

	width: 100%;
	margin-top: 80px;

	justify-content:space-between;
}

.xu {
	display: flex;
	flex-direction: column;

	width: 24.5%;
	margin: auto;
}

.xu img {
	margin: auto;

	transition-duration: 0.5s;
	transform:scale(1.1,1.1);
}

.xu img:hover {
	cursor: pointer;
	transition-duration: 0.3s;
	transform:scale(1.2,1.2);
}

.xu h3 {
	margin:15px auto 15px auto;

	text-align: center;
 	letter-spacing: 2px;

 	color:#233141;

	font-family: 'Raleway', sans-serif;
 	font-size: 17px;
 	font-weight:900;
 	font-variant: small-caps;
}


.xu p {
	margin:0 10px;

 	text-align:center;

	color:#233141;

	font-family: 'Open Sans', sans-serif;
 	font-size: 14px;
 	line-height: 25px;
}


.widdot1 {
	margin-top: 20px;

	transform: rotate(90deg);
}

.threedot {
	display:block;

	margin: auto;
	margin:20px auto;
}


.s2header {
	margin-top:15px;

	text-align:center;

}

.s2header h2 {
	color:#233141;

	font-family: 'Raleway', sans-serif;
	font-size: 35px;
	font-weight:900;
}

.s2header p {
	margin: 20px auto;

	color:#233141;

	font-family: 'Open Sans', sans-serif;
	font-size:15px;
}

.s2main {
	display: flex;
	flex-direction: row;

	width:100%;
	margin-top:2%;

	justify-content:space-around;
}

.col1 {
	display: flex;
	flex-direction:column;

	width: 38%;
}

.pros1 {
	width: 100%;
	margin-top:5%;

	transition-duration: 0.5s;
	transform: translateX(0px);
}

.pros1:hover {
	transition-duration: 0.5s;

	transform: translateX(-20px);
}

.pros1 img {
	float: right;
}

.pros1Text {
	float:left;

	width: 75%;
}

.pros1Text h3 {
 	margin:17px 0px;

 	text-align: right;
 	letter-spacing: 2px;

 	color:#233141;

	font-family: 'Raleway', sans-serif;
 	font-size: 19px;
	font-weight:900;
 	font-variant: small-caps;
}

.pros1Text p {
 	text-align:right;

	color:#233141;

	font-family: 'Open Sans', sans-serif;
 	font-size: 15px;
 	line-height: 20px;

}

#iphone {
	z-index: 1;

	margin:10px 0;
}

.col2 {
	display: flex;
	flex-direction:column;

	width: 37%;

}

.pros2 {
	width: 100%;
	margin-top:5%;

	transition-duration: 0.5s;
	transform: translateX(0px);
}

.pros2:hover {
	transition-duration: 0.5s;

	transform: translateX(20px);
}


.pros2 img {
	float: left;
}

.pros2Text {
	float:right;

	width: 75%;
}

.pros2Text h3 {
 	margin:17px 0;

 	text-align: left;
 	letter-spacing: 2px;

 	color:#233141;

	font-family: 'Raleway', sans-serif;
 	font-size: 19px;
	font-weight:900;
 	font-variant: small-caps;
}

.pros2Text p {
 	text-align:left;

	color:#233141;

	font-family: 'Open Sans', sans-serif;
 	font-size: 15px;
 	line-height:20px;
}

.S3 { /*Hecho para forzar a que el footer baje debido al layout de la seccion 3*/
	height:680px;
}

.pricingBanner {
	position:relative;
	top:-50px;

	width:100%;
	height: 128.7px;
	padding: 170px 0 150px;

	background: url("../img/pricing-bg.jpg") center;
	background-size: cover;


}

.s3header {
	position:relative;
	top:-110px;

}
.s3header h2 {
	margin:12px 0 20px 0;

	text-align: center;

	color:#233141;

	font-family: 'Raleway', sans-serif;
	font-size: 35px;
	font-weight:900;
}

.s3header p {
	text-align: center;

	color:#233141;

	font-family: 'Open Sans', sans-serif;
	font-size:15px;
}

.s3main {
	position:relative;
	top:-53px;

	display: flex;
	flex-direction: row;

	justify-content: space-between;
}

.prices {
	z-index: 1;

	width:24%;

	background-color: white;
	box-shadow: 5px 5px 5px lightgrey;
}

.prices h3 {
 	margin-top:45px;
 	padding: 9%;

 	text-align: center;
 	letter-spacing: 2px;

 	color:#233141;

	font-family: 'Raleway', sans-serif;
 	font-size: 15px;
 	font-weight:900;
 	font-variant: small-caps;
}


.price {
	margin-top: 10px;
	margin-bottom: 0px;

	text-align: center;

	color:#233141;
 /*Estilos al 15*/

	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	font-weight: 700;
}

.price sup { /*Estilos al $ y .99*/
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 600;
}

.mount  {
	margin:0;
	margin-bottom: 30px;

	text-align: center;
 /*Estilos al /mount*/

	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.list_Container {
	width:50%;
	margin:auto;
}

.prices ul {
	margin:0;

	list-style-type: none;

	border-top:1px solid lightgrey;

}

.prices ul li pre {
	margin:auto;

	color:#233141;

	font-family: 'Open Sans', sans-serif;
	font-size: 12.5px;
	line-height: 30px;
}

.boton {
	width:85%;
	margin: 8%;
	margin-bottom: 35px;
	padding: 10px;

	text-align: center;
	letter-spacing: 2px;

	color: white;
	border:none;
	border-radius: 5px;

	background-color: #00AFF1;

	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-variant: small-caps;
}

.boton:active {
	background-color: #78B2FB;
}

.smallP {
	color:#00AFF1;

	font-size: 13px;
	font-weight: 900;
}

.normalP {
	color:#F9D423;

	font-size: 13px;
	font-weight: 900;
}

.bigP {
	color:#FF9359;

	font-size: 13px;
	font-weight: 900;
}

.bestP {
	color:#F75F40;

	font-size: 13px;
	font-weight: 900;
}

.footerHeader {
	background-color: #233141;
	box-shadow: 0px -5px 5px lightgrey;
}

.footerHeader h2 {
	margin:0;

	padding:80px;

	text-align: center;

	color:white;

	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 400;
}

.footerHeader span {
	color:#00AFF1;

	font-family: Arial, sans-serif;
	font-size: 23px;
	font-weight: 900;
}

.footerMain {
	margin:0px;

	background-color:#151D26;
}

.footerMain .container p {
	display: inline-block;

	padding:15px;

	color:white;

	font-family: 'Raleway', sans-serif;

	font-size:10px;
	font-weight: 400;
}

.footerMain ul {
	float: right;

	margin:0px;

	list-style-type: none;
}

.footerMain ul li {
	display: inline-block;

	padding:15px 10px;

	color:white;

	font-family: 'Raleway', sans-serif;
	font-size:10px;
	font-weight: 400;
}

.footerMain ul li a {
	text-decoration: none;

	color:white;
}

@media only screen and (max-width:768px) {
	.container {
		max-width:95%;
		margin:auto;
	}
	header nav {
		float:none;

		text-align:center;
	}
	header nav ul li {
		margin:2% 10px;
	}
	.search_Container {
		width:95%;
	}
	.search_Bar {
		width:70%;

		font-size: 15px;
	}
	.search_Button {
		width:25%;
		padding:14.5px;
	}
	.search_Button span{
		font-size:90%;
	}
	.servicios {
		margin-top:30px;

		flex-wrap:wrap;
	}
	.xu {
		width: 49%;
	}
	.widdot1 {
		margin-top: 50px;
	}
	.none {
		display:none;
	}
	.pros1:hover {
		transform: translateX(20px);
	}
	.pros1Text {
		width:70%;
	}
	.pros1Text h3 {
		margin: 5px 0px;

		font-size:18px;
	}
	.pros1Text p {
		font-size:14px;
		line-height: 19px;
	}
	.pros2Text {
		width:69%;
	}
	.pros2Text h3 {
		margin: 5px 0px;

		font-size:18px;
	}
	.pros2Text p {
		font-size:14px;
		line-height:19px;
	}
	.pricingBanner {
		top:0;
	}
	.s3main {
		flex-direction: row;

		flex-wrap:wrap;
		justify-content: space-between;
	}
	.prices {
		width:49%;
		margin-bottom:20px;
	}
	.prices ul {
		margin:0 10%;

		list-style-type: none;

		border-top:1px solid lightgrey;
	}
	.S3 {
		height:1200px;
	}

}

@media only screen and (max-width:600px) {
	.logo {
		display:block;

		margin:auto;
	}
	header nav ul li {
		display: block;

		margin: 4% 0px;
	}
	.index_Banner {
		display:none;
	}
	.search_Container {
		width:90%;
		margin:auto;
	}
	.search_Bar {
		width:56%;
		padding:15px 5.5px;

		border:1px solid #0C92F5;
	}
	.search_Button {
		width:34%;
		padding:18px 8.5px;
	}
	.search_Button span{
		font-size:100%;
	}
	.s2main {
		flex-direction: column;
	}
	.col1 {
		width: 90%;
	}
	.pros1 {
		width: 100%;
		margin:10px 0;
	}
	.pros1Text {
		float: left;

		width:75%;
		margin-left: 5%;
	}
	.pros1 img {
		float:left;
	}
	.pros1Text h3 {
	 	text-align: left;
	}

	.pros1Text p {
	 	text-align:left;
	}

	#iphone {
		display: block;

		margin:auto;
	}

	.col2 {
		width: 90%;
	}
	.pros2 {
		width: 100%;
		margin:10px 0;
	}
	.pros2Text {
		float: left;

		width:75%;
		margin-left: 5%;
	}
	.pricingBanner {
		background:white;
	}
	.S3 {
		height: 1150px;
	}
	.s3header {
		top:-150px;
	}
	.prices {
		border:0.5px solid lightgrey;
	}
	.footerHeader h2 {
		padding:40px;
	}

	.footerMain {
		margin:0px;

		text-align:center;

		background-color:#151D26;
	}

	.footerMain ul {
		float:none;
	}

	.footerMain ul li {
		padding:10px 10px;
	}

	.footerMain ul li a {
		text-decoration: none;

		color:white;
	}
}

@media only screen and (max-width:360px) {
	.ion-android-search {
		display:none;
	}

	.search_Container {
		margin-top:25px;
	}
	.search_Button {
		width:32%;
		padding:18px 8.5px;
	}
	.servicios {
		flex-direction:column;

		justify-content:space-between;
	}
	.xu {
		width:100%;
		margin:10px 0;
	}
	.none {
		display:block;
	}
	.widdot1 {
		display:block;

		margin:auto;
	}
	.col1 {
		width:100%;
	}
	.pros1 {
		width:100%;
	}
	.pros1Text {
		float: right;

		width:76%;
	}
	.col2 {
		width:100%;
	}
	.pros2 {
		width:100%;
	}
	.pros2Text {
		float: right;

		width:76%;
	}
	.s3header {
		top:-125px;
	}
	.prices {
		width:100%;
	}
	.S3 {
		height:2150px;
	}
}
