body { /*Sacando margenes laterales al body de 8px que vienen por default*/
	box-sizing: border-box;
	margin: 8px 0px ;
	overflow-x:hidden;
/*-------------------------------------------------------------- HEADER ----------------------------------------------------------------*/
}
.logo { /*Achicando el logo*/
	width: 20%;
	height: 20%;
	margin-left: 30px;
}
.container { /*Contenedor para centrar elementos*/
	max-width: 800px;
	margin:auto;
	z-index: 1;
}

header nav { /*posiciono al nav a la derecha*/
	float:right;
	height: 23px;
}

header nav ul li { /*posiciono elementos del nav*/
	display: inline-block;
	position: relative;
	top:-7px;
	margin: 0px 10px;
}

header nav ul li a { /*Estilos a elementos del nav*/
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 17px;
	color:#AFAFAF;
	letter-spacing: 1.5px;

	transition-duration: 0.5s;
}

header nav ul li a:hover { /*Efecto elementos nav al hover*/
	color:#233141;
	transition-duration: 0.5s;
}

.indexBanner { /*Contenedor para banner/texto/searchBar/searchButton*/
	width: 100%;
	margin: 5px 0px;
}

.text { /*Estilos del texto dentro del banner*/
	font-size: 70%;
	color:white;
	display: block;

	position: absolute;
	top:143px;
	margin: 0px 22%;
}

.text h1 { /*Estilos específicos del h1 dentro del banner*/
	font-family: 'Raleway', sans-serif;
}

.text p { /*Estilos específicos del p dentro del banner*/
	font-family: 'Open Sans', sans-serif;
	line-height: 23px;
}

.searchBar { /*Estilos de la barra de búsqueda*/
	width:63% ;

	border:none;
	font-size: 20px;
	font-variant: small-caps;
	font-family: 'Open Sans', sans-serif;
	color:#0C92F5;

	position: relative;
	left:78px;
	padding:15.2px;
	top:-40px;

	transition-duration: 1s;
}

.searchBar:focus { /*Efecto de la barra de búsqueda*/
	color:white;
	background-color: #0C92F5;
	border-right: 1px solid white;
	transition-duration: 1s;
	
}

.searchButton { /*Estilos Boton de Búsqueda*/
	padding: 20px;
	background-color: #0C92F5;
	border:none;

	text-decoration: none;

	position: relative;
	float: right;
	margin-right: 100px;
	top:-35px;
}

.searchButton:active { /*Efecto del botón de búsqueda*/
	background-color: #78B2FB;
}

.searchButton span { /*Estilos de los elementos dentro del botón de búsqueda*/
	color:white;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	letter-spacing: 2px;
	font-variant: small-caps;
	text-align: center;
}
/*-------------------------------------------------------------- MAIN ----------------------------------------------------------------*/
/*Section 1*/
.servicios {
	height: 200px;
	width: 800px;
	display: flex;
	flex-direction: row;
	margin: 10px auto auto auto;
}

.xu {
	margin: 0px; 

	height: 200px;
	width: 200px;

	display: flex;
	flex-direction: column;
	

}

.xu img {
	margin: auto;

	transform:scale(1,1);
	transition-duration: 0.5s;
}

.xu img:hover {
	cursor: pointer;

	transform:scale(1.2,1.2);
	transition-duration: 0.5s;
}

.xu h3 {
	margin:auto;

	font-family: 'Raleway', sans-serif;
 	font-variant: small-caps;
 	font-size: 15px;
 	color:#233141;
 	letter-spacing: 2px;
}

.xu p {
	margin:auto;

	font-family: 'Open Sans', sans-serif;
	color:#233141;
 	text-align:center;
 	font-size: 11px;
 	line-height: 25px;
}

.widdot1 {
	transform: rotate(90deg);
	margin-top: 27px;
}

.threedot {
	margin: 0 47.8%;
}





/*Section 2*/




.s2header {
	display: flex;
	flex-direction: column;
	margin-top:10px;
}

.s2header h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color:#233141;
	margin: auto;
}

.s2header p {
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#233141;
	margin: 20px auto;
}

.s2main {
	display: flex;
	flex-direction: row;
}

.col1 {
	width: 280px;

	margin-right: 20px;

	display: flex;
	flex-direction:column;
	align-items: flex-end;
}

.pros1 {
	width: 280px;
	height: 100px;

	margin-top:20px;

	transform: translateX(0px);
	transition-duration: 0.5s;
}
.pros1:hover {
	transform: translateX(-20px);
	transition-duration: 0.5s;
}

.pros1 img {
	float: right;
}

.pros1Text {
	width: 230px;
	height: 92px;

	position: relative;
	right:5px;
}

.pros1Text h3 {
	font-family: 'Raleway', sans-serif;
 	font-variant: small-caps;
 	font-size: 15px;
 	color:#233141;
 	letter-spacing: 2px;
 	text-align: right;

}

.pros1Text p {
	font-family: 'Open Sans', sans-serif;
	color:#233141;
 	text-align:right;
 	font-size: 11px;
 	line-height: 20px;

}


#iphone {

}

.col2 {
	width: 280px;

	margin-left: 20px;

	display: flex;
	flex-direction:column;
	align-items: flex-start;
}

.pros2 {
	width: 282px;
	height: 100px;
	margin-top:20px;

	transform: translateX(0px);
	transition-duration: 0.5s;
}
.pros2:hover {
	transform: translateX(20px);
	transition-duration: 0.5s;
}

.pros2 img {
	float: left;
}

.pros2Text {
	width: 230px;
	height: 92px;
	float: right;

	position: relative;
	left:5px;
}

.pros2Text h3 {
	font-family: 'Raleway', sans-serif;
 	font-variant: small-caps;
 	font-size: 15px;
 	color:#233141;
 	letter-spacing: 2px;
 	text-align: left;

}

.pros2Text p {
	font-family: 'Open Sans', sans-serif;
	color:#233141;
 	text-align:left;
 	font-size: 11px;
 	line-height: 20px;

}


.pricingBanner {
	background: url("img/pricing-bg.jpg") center;
	width:100%;
	height: 128.7px;
	background-size: cover;
	padding: 170px 0 150px;

	position:relative;
	top:-50px;
	z-index: -1;
}

.s3header {
	position:relative;
	top:-80px;

}
.s3header h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color:#233141;
	text-align: center;

	margin-top:12px;
}

.s3header p {
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#233141;
	text-align: center;
}

.s3main {

	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.prices {
	width:24%;
	background-color: white;
	box-shadow: 5px 5px 5px lightgrey;
	z-index: 1;
}

.prices h3 {
	font-family: 'Raleway', sans-serif;
 	font-variant: small-caps;
 	font-size: 15px;
 	color:#233141;
 	letter-spacing: 2px;
 	margin-top:45px;
 	text-align: center;
 	padding: 9%;
}


.price { /*Estilos al 15*/
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	color:#233141;
	font-weight: 700;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
}

.price sup { /*Estilos al $ y .99*/
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	font-weight: 600;
}

.mount  { /*Estilos al /mount*/
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	margin:0px;
	text-align: center;
	margin-bottom: 30px;
}

.prices ul {
	list-style-type: none;
	border-top:1px solid lightgrey;
	margin:0px;
	padding: 15px 15px 15px 35px;
}

.prices ul li pre {
	font-family: 'Open Sans', sans-serif;
	color:#233141;
	margin:auto;
	font-size: 12.5px;
	line-height: 30px;
}

.prices button {
	background-color: #00AFF1;
	border:none;
	width:85%;
	text-align: center;
	margin: 6%;
	padding: 10px;
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
	font-variant: small-caps;
	color: white;
	letter-spacing: 2px;
	font-weight: 900;
	margin-bottom: 35px;
} 

.prices button:active {
	background-color: #78B2FB;
	text-decoration: none;
}
.smallP {
	color:#00AFF1;
	font-weight: 900;
	font-size: 13px;
}

.normalP {
	color:#F9D423;
	font-weight: 900;
	font-size: 13px;
}

.bigP {
	color:#FF9359;
	font-weight: 900;
	font-size: 13px;
}

.bestP {
	color:#F75F40;
	font-weight: 900;
	font-size: 13px;
}



.footerHeader {
	background-color: #233141;
	position:relative;
	top:300px;
	box-shadow: 0px -5px 5px lightgrey;
}

.footerHeader h2 {
	padding:80px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color:white;
	font-size: 22px;

	margin:40px 0px 0px 0px;
}

.footerHeader span {
	font-family: Arial, sans-serif;
	font-weight: 900;
	color:#00AFF1;
	font-size: 23px;
}

.footerMain {
	background-color:#151D26; 
	margin:0px;
	position: relative;
	top:300px;
}

.footerMain .container p {
	font-size:10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color:white;
	padding:15px;

	display: inline-block;
}

.footerMain ul {
	list-style-type: none;
	float: right;
	margin:0px;
}

.footerMain ul li {
	display: inline-block;

	font-size:10px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color:white;
	padding:25px 10px;
}

.footerMain ul li a {
	text-decoration: none;
	color:white;
}





/*<div class="indexBanner elements">
					<span class="ion-android-search"></span>
					<span>Search</span>
				</div>*/