/* Esto es un comentario */

body {
	background-image:url("https://wallpaperscraft.com/image/board_black_line_texture_background_wood_55220_1920x1080.jpg");
	background-color: lightblue;
	color:white;
}

a {
	text-decoration: underline;
	color:white;
}

#titulo {
	font-weight: bold;
	font-family: "Indie Flower", sans-serif;
	text-align: center;
	text-transform: capitalize;
}

.parrafos {
	font-size: 14px;
	line-height: 18px;
}

h3 {
	color:#05B;
}
.pBorder {
	border: 2px dashed green;
}
.LOrdenada {
    list-style-type: disc;
}

.icono {
	font-size: 60px;
	letter-spacing: 10px;
	
}